extends header_t.jade

block bcontent
  h3 APK
  p.lead= original_name
  h3 Libraries
  - var local_libs = JSON.parse(libs)
  - console.log(local_libs)
  - if (local_libs.length != 0)
    table.table.table-responsive.table-hover
      thead
        tr
          th Library Name
          th Common Package Name
          th Current Package Name
          th Web Link
          th Library Type
          th Permissions

      tbody
      each obj in local_libs
        tr
          td= obj['lib']
          td= obj['pn']
          td= obj['cpn']
          td
            - var web_link = obj['ch']
            - if (web_link == undefined || web_link == "")
              p &nbsp;
            - else
              - if (web_link.substr(0, 4) != "http") { web_link = 'http://' + web_link;
                a(href= web_link target="_blank") Link
              - }
              - else
                a(href= web_link target="_blank") Link
          td=obj['tp']
          td
            - var detailed_information = obj['p'].toString().replace(/,/g, '    ');
            - if( detailed_information != "")
              button.btn.btn-sm.pop(rel="popover" data-content=detailed_information data-original-title="Detailed Permission Info") Details
            - else
              button.btn.btn-sm.pop(rel="popover" data-content="No Android Permission Used." data-original-title="Detailed Permission Info") None
  - else
    p None.
  h3 Time Consuming
  //button.btn.btn-primary.show-raw Click to Show/Hide Raw Results
  pre.raw= time_c
