h3 APK
p.lead= original_name
h3 Libraries

- var local_libs = JSON.parse(libs)
- console.log(local_libs)
- if (local_libs.length != 0)

  table.bordered
    thead
      tr
        th Library
        th Package Name (In-Dataset)
        th Package Name (In-App)
        th Popularity
        th Match Ratio
        th Type
        th Website
    tbody
    each obj in local_libs
      tr
        td= obj['Library']
        - if (obj['Standard Package'].length > 32) {
          td
            p.long_pn(data-toggle='tooltip' title=obj['Standard Package'].toString().replace(/\//g,' / '))= obj['Standard Package'].substr(0, 30) + '...'
        -}
        - else
          td= obj['Package']
        - if (obj['Standard Package'].length > 32) {
          td
            p.long_pn(data-toggle='tooltip' title=obj['Standard Package'].toString().replace(/\//g,' / '))= obj['Package'].substr(0, 30) + '...'
        -}
        - else
          td= obj['Package']
        td= obj['Popularity']
        td
          - var ratio = obj['Match Ratio']
          - if (ratio == undefined || ratio == "")
            p &nbsp
          - else
            #{ratio}
        td= obj['Type']

        td
          - var web_link = obj['Website']
          - if (web_link == undefined || web_link == "")
            p &nbsp;
          - else
            - if (web_link.substr(0, 4) != "http") { web_link = 'http://' + web_link;
              a(href= web_link target="_blank") Link
            - }
            - else
              a(href= web_link target="_blank") Link


- else
  p No Library.
h3 RAW
//button.btn.btn-primary.show-raw Click to Show/Hide Raw Results
pre.raw= raw
script(type='text/javascript').
