extends header.jade

block bcontent
  h3 APK
  p.lead= original_name
  h3 Top Libraries
  - var local_libs = JSON.parse(libs)
  - console.log(local_libs)
  - if (local_libs.length != 0)
    table.table.table-responsive.table-hover
      thead
        tr
          th Library Name
          th Package Name
          th Description in Chinese
          th Library Type
          th Permissions

      tbody
      each obj in local_libs
        tr
          td=obj['lib']
          td=obj['pn']
          td=obj['ch']
          // Todo
          td Development Aid
          td
            - var detailed_information = obj['p'].toString().replace(/,/g, ' ');
            - if( !detailed_information == "")
              button.btn.btn-sm.pop(rel="popover" data-content=detailed_information data-original-title="Detailed Permission Info") Details
            - else
              button.btn.btn-sm.pop(rel="popover" data-content="No Android Permission Used." data-original-title="Detailed Permission Info") None
  - else
    p None.
  h3 Other codes that belong to third-party libraries
  - var local_routes = JSON.parse(routes)
  - if (local_routes.length != 0)
    table.table.table-responsive.table-hover
      thead
        tr
          th Package Name
          th Original Package Name
          th Repetitions
          th Permissions

      tbody
      each obj in local_routes
        tr
          td=obj['sp']
          td=obj['csp']
          td=obj['dn']
          td
            - var detailed_information = obj['cp'].toString().replace(/,/g, ' ');
            - if( !detailed_information == "")
              button.btn.btn-sm.pop(rel="popover" data-content=detailed_information data-original-title="Detailed Permission Info") Details
            - else
              button.btn.btn-sm.pop(rel="popover" data-content="No Android Permission Used." data-original-title="Detailed Permission Info") None
  - else
    p None.
  h3 Time Consuming
  //button.btn.btn-primary.show-raw Click to Show/Hide Raw Results
  pre.raw= time_c
